.cv-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: absolute;
  text-align: justify;
  padding-left: 40px;
  padding-top: 70px;
  padding-right: 40px;
  padding-bottom: 80px;
  color: var(--aside-color);
  background: #dad5c3;
  overflow-y: scroll;
}
#cv-cabecalho {
  text-align: right;
}
.perfil {
  margin-top: 20px;
  text-align: justify;
}
.cv-title {
  display: flex;
  justify-content: left;

  margin-bottom: 0px;
  padding-bottom: 0px;
}
.cv-title i {
  font-size: 25px;
  padding-right: 5px;
}
.perfil ul {
  padding-left: 40px;
  list-style-type: disc;
}
